

.popError {
  margin-top: 20px;
  display: none;
  margin-top: 10px;
}
button {
  margin-top: 40px;
  margin-bottom: 40px;
}

body {
  padding-top: 70px;
}

@media (max-width: 480px) {
  body {
    padding-top: 110px;
  }
}
